* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    background: linear-gradient(to right, rgb(3, 168, 244), rgb(184, 207, 228));
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    height: 100vh;
    align-content: center;
}

.card-container {
    background-color: rgba(35, 35, 36, .9);
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 50rem;
    height: 60rem;
    border-radius: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1);
    margin: auto;
    overflow: hidden;
}

.card-banner img {  
    width: 60rem;
    overflow: hidden;
}

.user {
    padding-top: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

#L {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .8);
    height: 7rem;
    width: 7rem;
    border-radius: 10rem;
    outline: auto;
    outline-style: solid;
    outline-color: rgb(29, 213, 29);
}

#logo {
    height: 7rem;
    width: 7rem;
    background-color: transparent;
}

.user a {
    color: aliceblue;
    font-size: 3rem;
    text-decoration: none;
}

.user a:hover {
    text-decoration: underline;
    opacity: 0.8;
}

.user-desc {
    padding: 2rem;
    line-height: 2.5rem;
    text-align: center;
}

.user-desc span {
    color: rgb(241, 241, 238);
    font-size: 2rem;
}

.user-desc strong {
    font-size: 2.3rem;
    color: rgb(96, 174, 230);
}
